<!-- information utilisateur -->
<ion-content>
<ion-card>
  <ion-card-header>
  <ion-card-title>CONTACT</ion-card-title> </ion-card-header> <ion-card-content>
  <ion-item>
    <ion-label position="floating">Nom</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Prénom</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Mot de passe</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Confirmer le mot de passe</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Téléphone</ion-label>
    <ion-input type="tel"></ion-input>
  </ion-item> 
  </ion-card-content>
</ion-card>

<!-- Partie adresse -->
<ion-card>
  <ion-card-header>
    <ion-card-title>Adresse</ion-card-title>
  </ion-card-header>
  <ion-item>
    <ion-label position="floating">Rue</ion-label>
    <ion-input type="tel"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Porte</ion-label>
    <ion-input type="tel"></ion-input>
  </ion-item> <ion-item>
    <ion-label position="floating">Quartier</ion-label>
    <ion-input type="tel"></ion-input>
  </ion-item>
</ion-card>

<ion-button size="full" color="light ">
  Enregistrer
</ion-button>
</ion-content>


  